@import "styles/settings/__settings";
@import "components/Button/Button.module.scss";

.homeTitle {

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 9vw;
  margin-top: 0;

  @media (min-width: 50em) {
    font-size: 4.8em;
  }

  strong {
    display: inline-block;
    font-weight: 900;
    font-size: 1.4em;
    background-color: $color-brand-purple;
    padding: 0 .2em;
    margin: .1em;
  }

}

.homeTitleSubline {

  font-size: .6em;
  margin-top: .1em;

  strong {
    background-color: $color-brand-magenta;
  }

}

.homeVideo {
  margin-bottom: 5em;
}

.homeWatch {

  text-align: center;

  a {

    @extend .button;
    text-decoration: none;
    margin: .5em;

    &:last-child {
      background-color: $color-gray-500;
    }

  }

}

.homeDetailsSection {

  text-align: center;

  h2 {
    margin-bottom: 2em;
  }

}

.homeDetails {

  display: block;
  width: 100%;
  max-width: 50em;
  text-align: left;
  margin: 1em auto;

  summary {

    font-size: 1.3em;
    font-weight: 600;
    border: solid 5px $color-brand-purple;
    padding: .5em .8em;

    &:active,
    &:focus {
      background-color: $color-brand-purple;
    }

    &::-webkit-details-marker {
      color: $color-brand-magenta;
    }

  }

  ul  {
    padding-left: 1.2em;
  }

  ul,
  p {

    font-size: 1.2em;

    &:last-child {
      margin-bottom: 2em;
    }

  }

  li {
    margin-bottom: .2em;
  }

}

.homeDetailsJump {

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
  }

  svg {
    color: $color-brand-magenta;
    margin-right: .5em;
    transform: translateY(1px);
  }

}

.homeSubscribe {

  text-align: center;

  p {

    font-size: 1.2em;
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.form {

  font-size: .8em;

  input,
  button {
    width: 100%;
    max-width: 17rem;
  }

  input {
    font-size: 1.2em;
    text-align: center;
    padding: .8em;
  }

}

.blockHeader {
  background-color: $color-brand-magenta;
  display: inline-block;
  font-weight: 900;
  font-size: 2em;
  padding: .2em .5em;
  text-transform: uppercase;
  margin: .1em;
}

.homeFeatureNote {
  max-width: 20em;
  font-size: 2.2em;
  margin: 2em auto 1.5em;
}