@import "settings/__settings";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-default;
  color: white;
  background-color: black;
}

a {
  color: inherit;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

.video-container {
  
  position: relative;
  overflow: hidden;
  padding-top: percentage( 315 / 560 );
  border: solid 5px $color-brand-magenta;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

}